{erl_opts, [
	debug_info,
    {i, "_build/default/plugins/gpb/include"}
]}.

{deps, [
    {'protoc-erl2', {git, "https://github.com/ShionRyuu/protoc-erl2", {branch, "master"}}}
]}.

{plugins, [
	rebar3_gpb_plugin
]}.

{pre_hooks, [
    {"linux", compile, "mkdir -p include"},
    {"linux", compile, "mkdir -p priv"}
]}.

{provider_hooks, [
    {pre, [
    	{compile, {protobuf, compile}}
    ]}
]}.

{gpb_opts, [
	{i, "proto"},
	{o_hrl, "include"}
]}.
